<div class="header">
    <div class="header-img">
        <%=render 'svgLog'%>
    </div>
        
    <div class="header-text header-form">
    <div class="login-box">
    <img class="img-fluid" id="img_prev"  src="<%= asset_path('pushpin.png')%>" alt="">

        <h2>Create an Account</h2>
       
        <%= form_with(scope: :session, url: login_path, local: true) do |f|%>
            <div class="user-box">
                <%= f.email_field :email,:required => true%>
                <%= f.label :email%>
            </div>
            <div class="user-box">
                <%= f.password_field :password,:required => true%>
                <%= f.label :password%>
            </div>
            <%= f.submit "login", :class=>"btn-signup btn-hover color-11"%>        
            <%end%>
        </div>
        

</div>
</div>    
