<audio id="alarmAudio">
  <source src="<%= asset_path('alarm.mp3')%>" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<div class="row">
    <div class="col-lg-5 d-flex flex-column">
            <div class="timer-container">
                <div class="options-container">
                    <ul class="timer-lists d-flex">
                        <li class="timer-list" data-time="1500">
                            <p class="btn btn-timer active-timer">Pomodoro</p>
                        </li>                      
                        <li class="timer-list" data-time="300">
                            <p class="btn btn-timer">Short Break</p>
                        </li>
                        <li class="timer-list" data-time="900">
                            <p class="btn btn-timer">Long Break</p>
                        </li>
                    </ul>
                </div>
                <div class='timer'><h1 id="timer-string">25:00</h1></div>
                <div class="btn btn-time" id="btn-time-action" data-action="start">Start</div>
            </div>

            <div class="task-main-details">
                <h2 class="heading heading-primary heading-primary-h2"><%=@task.name%></h2>
                <p>Deadline: <%=@task.due_date.strftime("%A, %d %B %Y")%></p>
                <p>Status: <span class="task-status text-<%=@task.status_color%>"><%=@task.status%></span></p>
                <ul class="dflex flex-row link-items" id="task-links">
                <li class="link-item d-inline-block">
                  <%=link_to category_path(@category),{ :class => 'btn btn-task text-secondary' }   do%>
                    <i class="fas fa-arrow-left"></i>
                  <%end%>  
                </li>
                <li class="link-item d-inline-block item-checkbox">
                      <input type="checkbox" class="btn-task form-check-input" id="exampleCheck1" data-reflex = 'change->Task#toggle' data-id="<%=@task.id%>" <%=@task.completed ? 'checked' : ''%>>
               </li>
                <li class="link-item d-inline-block">
                  <%=link_to edit_category_task_path(@category,@task),{ :class => 'btn btn-task text-primary' }   do%>
                    <i class="fas fa-edit"></i>
                  <%end%>  
                </li>
           
                <li class="link-item d-inline-block">
                  <%=link_to category_task_path(@category,@task), method: :delete, data: {confirm: "Are you sure?"},class:'btn btn-task text-danger' do%>
                      <i class="fas fa-trash-alt"></i>
                  <%end%>
                </li>
              </ul>
            </div>

    </div>
    
    <div class="col-lg-6">
      <div id='task-description-container'>
        <h1 class='text-center'>Task Description</h1>
        <p class='text-center'> <%=@task.description%></p>
          <div class="add-update">
              <%= form_with(model: [@category, @task, @comment]) do |f| %>
                <div class="input-group">
                <%=f.text_area :body, placeholder: "Add Task Update",class:"form-control form-input", id:"form-comment"%>
                <div class="input-group-append">
                    </div>
                </div>
                <%=f.submit "Add Update",class:  "btn btn-light input-group-btn float-end", id:'btn-comment'%>
              <%end%>
          </div>
            <div class="updates" id="style-2">
                  <%@task.comments.reverse.each do |update|%>
                    <div id="task-update">
                      <p class="ms-4 float-end"><%=update.created_at.strftime("%B %d, %Y at %l:%M %P")%></p>
                      <p><%=update.body%></p>
                    </div>
                  <%end%>
            </div>
      </div>
    </div>

    
</div>

<%= javascript_pack_tag 'task_js' %>