<%=render 'shared/errors', obj: @user%>

<div class="header header-form_container">
    <div class="header-img">
        <%=render 'svg2'%>
    </div>
    
    <div class="header-text header-form">
    <div class="login-box">
    <img class="img-fluid" id="img_prev"  src="<%= asset_path('pushpin.png')%>" alt="">

        <h2>Create an Account</h2>
       
        <%= form_with(model: @user, local: true) do |f|%>
            <div class="d-flex justify-content-between"">
                <div class="user-box user-box-name">
                <%= f.text_field :firstname,:required => true%>
                <%= f.label :firstname%>
                </div>
                <div class="user-box user-box-name">
                    <%= f.text_field :lastname,:required => true%>
                    <%= f.label :lastname%>
                </div>
            </div>
            <div class="user-box">
                <%= f.email_field :email,:required => true%>
                <%= f.label :email%>
            </div>
            <div class="user-box">
                <%= f.password_field :password,:required => true%>
                <%= f.label :password%>
            </div>
            <div class="user-box">
                <%= f.password_field :password_confirmation,:required => true%>
                <%= f.label 'confirm password'%>
                
            </div>

             <%= f.submit(@user.new_record? ? 'Sign Up' : 'Update Account', class:'btn btn-danger btn-lg btn-signup')%>
            <div class="text-center">
                <%= link_to 'Already have an account?Log in', login_path, class:'login_link'%>
            </div>
      </div>

            <%end%>
        </div>
        

</div>
</div>

