<div class="page-header">
    <h1 class="text-center heading heading-primary heading-primary-h1">
        Task Categories
    </h1>
</div>
<%if @categories.count == 0%>
    <div class="container text-center section">
        <div class="create-img mt-5">
          <%=render 'shared/svg_create'%>
        </div>
       <h3 class="text-dark  heading-primary heading-primary-h3 mt-5">You have no categories <%=link_to 'Add One Now!',new_category_path%> </h3>
    </div>
    
<%else%>
    <div class="categories container categories-container d-flex">
        <%=link_to new_category_path, class: "create-category" do%>
            <p><i class="fas fa-plus" id="add-category"></i></p><p>Create New Category</p> 
        <%end%>
        <%@categories.each do |category|%>
            <%=link_to category_path(category), class:"category-link" do%>
                <div class="category-card" style="background-color:<%=category.color%>">
                    <div class="category-card-body">
                        <h5 class="category-card-title"> <%=category.name%></h5>
                        <p class="category-task-num"><i class="fas fa-clipboard-list"></i> <%=category.active_items%> Pending Tasks</p>
                        <p class="category-card-text"> <%=category.description%></p>
                        <div class="category-links d-flex">
                            <%=link_to category_path(category),{ :class => 'btn btn-primary btn-lg category-link' }   do%>
                                <i class="far fa-eye"></i>View
                            <%end%>    
                            <%=link_to edit_category_path(category),{ :class => 'btn btn-secondary btn-lg category-link'}   do%>
                                <i class="fas fa-edit"></i>Edit
                            <%end%>  
                            <%=link_to category_path(category), method: :delete, data: {confirm: "Are you sure?"},class:'btn btn-danger btn-lg category-link' do%>
                                <i class="fas fa-trash-alt"></i>Delete
                            <%end%>  
                        </div>
                    </div>
                </div>
            <%end%>
        <%end%>
    </div>


<%end%>
   