<img id="img_clip"  src="<%= asset_path('clipboard-clip.png')%>" alt="">

<div class="clipboard shadow " style="background-color:<%=@category.color%>">

    <div class="clipboard-paper shadow">
        <h1 class="text-center"><%=@category.name%></h1>
        <h6 class="text-center"><%=@category.description%></h6>
            <div class="progress-container d-flex justify-content-between">
                <div class="progress-bar-container">
                  <div class="progress mb-4 ">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: <%=@category.percent_complete%>%" aria-valuenow="<%=@category.percent_complete%>" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                    <p class="text-secondary"><small><%= @category.percent_complete%>% complete (<%=@category.completed_items%>/<%=@category.total_items%> Todo Items)</small></p>
                </div>
                <div>
                <%=link_to new_category_task_path(@category),{ :class => 'btn btn-primary' }   do%>
                  <i class="far fa-edit"></i>Task
                  <%end%>    
                  </div>
            
            </div>
            <div class="task-container">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <% @category.tasks.order(:completed).order(:due_date).each_with_index do |task,i|%>
                            <div class="accordion-item">
                            <h2 class="accordion-header d-flex" id="panelsStayOpen-heading<%=i%>">
                                <div class="btn btn-checkbox btn<%=task.completed ? '' : '-outline' %>-success" data-reflex = 'click->Task#toggle' data-id="<%=task.id%>">
                                    <%= link_to '#' do %>
                                      <i class='fas fa-check check'></i>
                                     <%end%> 
                                </div>
                                
                                
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%=i%>" aria-expanded="false" aria-controls="panelsStayOpen-collapse<%=i%>">
                                <%=task.name%>
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapse<%=i%>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%=i%>">
                              <div class="accordion-body">
                               <%=task.description%>
                              </div>
                            </div>
                          </div>
                        <%end%>
                    </div>
            </div>
            
    </div>

</div>
